<ejs-diagram
  width="300px"
  height="900px"
  [getNodeDefaults]="defaultNodeValues"
  (selectionChange)="OnSelectionChange($event)"
>
  <e-nodes>
    <e-node id="node1" [offsetY]="50" [shape]="terminatorShape">
      <e-node-annotations>
        <e-node-annotation content="Start"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node2" [offsetY]="150" [shape]="processShape">
      <e-node-annotations>
        <e-node-annotation content="var i = 0"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node3" [offsetY]="250" [shape]="decisionShape">
      <e-node-annotations>
        <e-node-annotation content="i > 10"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node4" [offsetY]="350" [shape]="preDefinedShape">
      <e-node-annotations>
        <e-node-annotation content="print (Syncfusion !! )"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node5" [offsetY]="450" [shape]="processShape">
      <e-node-annotations>
        <e-node-annotation content="i++"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node6" [offsetY]="550" [shape]="terminatorShape">
      <e-node-annotations>
        <e-node-annotation content="End"></e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id="node6" [offsetY]="650" [shape]="imageShape"> </e-node>
  </e-nodes>
  <e-connectors>
    <e-connector sourceID="node1" targetID="node2"></e-connector>
    <e-connector sourceID="node2" targetID="node3"></e-connector>
    <e-connector sourceID="node3" targetID="node4"></e-connector>
    <e-connector sourceID="node4" targetID="node5"></e-connector>
    <e-connector
      sourceID="node3"
      targetID="node6"
      [segments]="segment1"
      type="Orthogonal"
    ></e-connector>
    <e-connector
      sourceID="node5"
      targetID="node3"
      [segments]="segment2"
      type="Orthogonal"
    ></e-connector>
  </e-connectors>
</ejs-diagram>
